@font-face {
font-family: MainFont;
src: url("gabrille/Gabrielle.ttf");
}

body {
margin:0px;
padding:0px;
}

#Intro {
text-align:center;
padding:20px;
margin:50px;
margin-top:200px;
margin-bottom:200px;
font-family:MainFont;
}

#Intro h1 {
color:red;
font-size:60px;
}

h1 {
color:red;
font-family:MainFont;
}
.subtitle {
font-style:italic;
font-family:MainFont;
font-size:30px;
}

#background-wrapper-1 {
background-image:url("background.png");
background-repeat:no-repeat;
background-size:cover;
height:100%;
}

/* SLIDE STYLINGS */
#start {
background-color:white;
}

#family {
background-color:black;
color:white;
}

.slide {
padding:50px;
border-radius:20px;
margin:50px;
}

.slide p {
padding:10px;
}

.slide img {
float:left;
padding:10px;
}

.full-slide {
width:100%;
margin:0px;
height:100%;
padding:30px;
}
/* END SLIDE STYLINGS */

/* PERSON INFO SLIDE */
.person {
font-size:20;
padding:5px;
margin:5px;
border-radius:10px;
background-color:lightblue;
}

#people_wrapper {
width:25%;
float:left;
text-align:center;
}

#people_info {
width:65%;
height:75%;
margin:auto;
float:left;
background-color:lightgrey;
border-radius:20px;
padding:20px;
}
