.bar {
fill:steelblue;
cursor:pointer;
}

.axis {
font: 10px sans-serif;
}

.axis path,
.axis line {
fill: none;
stroke: #000;
shape-rendering: crispEdges;
}

.x.axis path {
display:none;
}

.grid .minor.tick line {
  stroke-opacity: .5;
}

#year {
float:left;
margin-top:50px;
font-size:30px;
text-align:center;
}

#graph {
float:left;
}

select {
float:left;
}
