body {
padding:0px;
margin:0px;
}

#wrapper {
height:100%;
width:100%;
background-image:url('Cope_Evans_ship.png');
background-size:cover;
text-align:center;
}

a {
font-weight:bold;
text-align:center;
width:400px;
padding:10px 50px;
border:3px solid white;
font-size:37px;
color:white;
text-decoration:none;
margin:auto;
}

a:hover {
opacity:.7;
background-color:white;
color:lightgrey;
}

#title {
font-size:60px;
color:white;
margin:auto;
}

#subtitle {
font-size:45px;
font-style: italic;
color:white;
padding:10px;
margin:auto;
margin-bottom:25%;
}
