#select {
font-size:20px;
background-color:steelblue;
border-radius:5px;
text-align:center;
width:200px;
margin:10px;
padding:5px;
cursor:pointer;
}

.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.node .selected {
  fill: red;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}

.brush .extent {
  fill-opacity: .1;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.person {
 background-color:lightblue;
 font-size:20px;
 float:left;
 padding:10px;
 margin:10px;
 text-decoration:none;
}
