body { 
margin:0; 
padding:0;
}

#map { 
position:absolute; 
top:40; 
bottom:0; 
width:100%; 
}

#guide { 
position:absolute; 
top:0; 
bottom:40; 
left:30px; 
font-size:20px; 
line-height:40px; 
color:grey;  
}

#footer { 
position:absolute; 
bottom:0; 
height:60px; 
width:100%; 
}

#footer-wrapper {
bottom:10;
position:absolute;
}
#footer-transparent { 
position:absolute; 
bottom:0; 
height:60px; 
opacity:.3; 
background-color:black; 
width:100%; 
}

li {
font-weight:bold;
list-style-type:none;
display:inline-block;
background-color:#67D6E5;
padding:10px;
border-radius:10px;
margin-right:20px;
color:black;
cursor:pointer;
}

ul {
margin:0px;
margin-top:10px;
}

#timeline {
bottom:-5px;
height:200px;
width:100%;
background-color:white;
}

#filter {
bottom:-5px;
height:200px;
width:100%;
background-color:white;
}

.filter-button {
text-align:center;
padding:5px;
margin-bottom:7px;
margin-left:15px;
margin-right:10px;
margin-top:7px;
border-radius:5px;
background-color:steelblue;
cursor:pointer;
width:100px;
}

#filter-list {
padding:10px;
}

.col {
float:left;
}

.options-button {
text-align:center;
padding:5px;
margin-bottom:7px;
margin-left:15px;
margin-right:10px;
margin-top:7px;
border-radius:5px;
background-color:steelblue;
cursor:pointer;
width:100px;
}
